<style type="text/css">
    .ventanaD{
   margin-left: 500px;
   margin-top: 120px;
   width: 250px; 
   height: 400px; 
   border: 3px solid#53a0d4fb;
   background: #bee6ff;
}

    .button {
    background-color: white;
    color: black;
    border: 3px solid #000000; /* Green */
    width: 180px;
    height: 50px;
    align-self: center;
    margin-left: 35px;
    margin-top: 20px;
    font-size: 25;
}
.click {
    background-color: white;
    color: black;
    border: 3px solid #000000; /* Green */
    width: 180px;
    height: 50px;
    justify-content: center;
    margin-left: 35px;
    margin-top: 20px;
    font-size: 25;
} 

.click1 {
    background-color: white;
    color: black;
    border: 3px solid #000000; /* Green */
    width: 180px;
    height: 50px;
    justify-content: center;
    margin-left: 35px;
    margin-top: 20px;
    font-size: 25;
} 
    .h{
        text-align: center;
    }
 
</style>

<div class="ventanaD">
<div class="vistaD">
    <h1 class="h">Vista D</h1>
    <button class="click" id="click0" value="click">Click</button>
    <button class="click" id="click1" value="click">Click o 3</button>
    <button class="click1" id="click2" value="click">Click y 5</button>
    
    <button class="button" id="atrasD" value="atrasD">Atras</button>
</div>
</div>
